<div>
  <h2>Create a New Pokemon</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="pokemonID">Pokemon ID:</label>
      <input type="number" id="pokemonID" name="pokemonID" [(ngModel)]="pokemonID" required>
    </div>
    <div>
      <label for="pokemonName">Pokemon Name:</label>
      <input type="text" id="pokemonName" name="pokemonName" [(ngModel)]="pokemonName" required>
    </div>
    <!--
    <div>
      <label for="pokemonType">Pokemon Type:</label>
      <mat-select [(ngModel)]="selectedPokemonTypes" name="pokemonType" multiple>
        <mat-option *ngFor="let type of pokemonType" [value]="type.name">{{ type.name }}</mat-option>
      </mat-select>
    </div>
    -->
    <div>
      <label for="pokemonType">Pokemon Type:</label>
      <mat-select [(ngModel)]="selectedPokemonTypes" name="pokemonType" multiple>
        <mat-option *ngFor="let type of pokemonType" [value]="type.name">
          <img src="{{ type.image }}" alt="{{ type.name }}" class="pokemon-icon">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </div>
    
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="description"></textarea>
    </div>
    <button type="submit">Submit</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
