<div id="addformwrapper">
  <div class="createbanner">
  </div><br><br>
  <h2>Create a New Pokemon</h2><br>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="pokemonID"><b>Pokemon ID:</b></label><br>
      <input type="number" id="pokemonID" name="pokemonID" [(ngModel)]="pokemonID" required><br><br>
    </div>
    <div>
      <label for="pokemonName"><b>Pokemon Name:</b></label><br>
      <input type="text" id="pokemonName" name="pokemonName" [(ngModel)]="pokemonName" required><br><br>
    </div>
    <!--
    <div>
      <label for="pokemonType">Pokemon Type:</label>
      <mat-select [(ngModel)]="selectedPokemonTypes" name="pokemonType" multiple>
        <mat-option *ngFor="let type of pokemonType" [value]="type.name">{{ type.name }}</mat-option>
      </mat-select>
    </div>
    -->
    <div>
      <label for="pokemonType"><b>Pokemon Type:</b></label>
      <mat-select [(ngModel)]="selectedPokemonTypes" name="pokemonType" multiple>
        <mat-option *ngFor="let type of pokemonType" [value]="type.name">
          <img src="{{ type.image }}" alt="{{ type.name }}" class="pokemon-icon">
          {{ type.name }}
        </mat-option>
      </mat-select><br><br>
    </div>
    
    <div>
      <label for="description"><b>Description:</b></label><br>
      <textarea id="description" name="description" [(ngModel)]="description"></textarea><br>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" type="submit" id="regBtn">Submit</button>
      <button mat-raised-button color="primary" type="submit" (click)="onCancel()" id="cancelBtn">Cancel</button>
    </div>
  </form>
</div>
