#addformwrapper {
    width: 300px;
    margin: 30px;
}

.createbanner {
    background-image: url('../../assets/Image/createpokemon-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}

.pokemon-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.mat-select-trigger {
    display: flex;
    align-items: center;
}

.actions {
    text-align: right;
}

#regfrom {
    background-image: url('../../assets/Image/reg-background11.jpeg');
    background-size: cover;
}

#regBtn {
    margin-right: 50px;
    margin-top: 20px;
    background-color: rgb(1, 0, 66);
    color: #FFFFFF;
    border-style: solid;
    border-color: rgb(1, 0, 66);
}

#regBtn:hover {
    border-style: solid;
    border-color: rgb(125, 221, 238);
}

#cancelBtn {
    background-color: transparent;
    color: rgb(1, 0, 66);
    border-style: solid;
    border-color: rgb(1, 0, 66);
    margin-right: 40px;
    margin-top: 20px;
}

#cancelBtn:hover {
    border-style: solid;
    border-color: rgb(125, 221, 238);
}

.banner {
    text-align: center;
    width: 100%;
    height: 190px;
    background-image: url('../../assets/Image/reg-banner.png');
    background-size: cover;
}

input {
    background-color: transparent;
}