<div id="editwrapper">
  <div class="editbanner">
  </div>
  <h2>Edit Form</h2>
  <form (ngSubmit)="save()">
    <label for="pokemonID">Pokemon ID</label><br>
    <input type="text" id="pokemonID" [(ngModel)]="postData.pokemonID" name="pokemonID" required><br>
  
    <label for="name">Name</label><br>
    <input type="text" id="name" [(ngModel)]="postData.name" name="name" required>
  
    <div>
      <label for="pokemonType">Type</label><br>
      <mat-select [(ngModel)]="postData.pokemonType" name="pokemonType" multiple>
        <mat-option *ngFor="let type of pokemonType" [value]="type.name">
          <img src="{{ type.image }}" alt="{{ type.name }}" class="pokemon-icon">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </div>
  
  
    <label for="name">Description</label><br>
    <textarea type="text" id="description" [(ngModel)]="postData.description" name="description" required></textarea><br>
  
    <!-- Add more form fields for other properties you want to edit -->
    <div class="actions">
      <button mat-raised-button color="primary" type="submit" id="regBtn">Submit</button>
    </div>
  </form>
</div>

