section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

body {
  //background: linear-gradient(to right, #7c7171, #9393cb, #526a52);
  background-image: url("../../assets/Image/login-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*
#login-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}
*/

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.example-form {
  position: relative;
  z-index: 9;
}

.registerBtn, #registerBtn {
  font-size: 21px;
  color: rgb(1, 0, 66);
  border-radius: 20px;
  background-color: white;
  width: 120px;
  height: 50px;
  border-style: solid;
  border-color: rgb(1, 0, 66);
}

.adminBtn, #adminBtn {
  font-size: 21px;
  border-radius: 20px;
  background-color: rgb(1, 0, 66);
  width: 120px;
  height: 50px;
  border-style: solid;
  border-color: rgb(1, 0, 66);
  margin-left: 20px;
  margin-right: 100px;
}

.visitorBtn, #visitorBtn {
  font-size: 21px;
  color: rgb(1, 0, 66);
  border-radius: 20px;
  background-color: transparent;
  width: 120px;
  height: 50px;
  margin-top: 60px;
  margin-right: 100px;
}

#visitorWrapper {
  text-align: center  ;
}

.loginLayOut {
  width: 1600px;
  display: flex;
  margin: auto;
  height: 560px;
  box-shadow: 1px 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  top: 300px;
}

#welcomeMessage {
  display: flex;
  text-align: center;
  font-size: 60px;
  position: absolute;
  left: 25%;
  top: -15%;
  text-shadow: -3px 0 rgb(109, 154, 164), 0 3px rgb(109, 154, 164), 3px 0 rgb(109, 154, 164), 0 -3px rgb(109, 154, 164);
}

#login-left {
  width: 800px;
  padding-left: 200px;
  padding-top: 10px;
  color: #bf7bdf;
  p {
    font-size: 20px;
    line-height: 27px;
  }
  background-image: url('../../assets/Image/login-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#login-right {
  width: 500px;
  padding-left: 100px;
  padding-top: 100px;
  background-color: #FFFFFF;

  h1 {
    font-weight: bold;
    font-size: 30px;
  }
}

.inputField {
  width: 400px;
  border-radius: 20px;
}

.inputField .mat-form-field-outline-start {
  border-radius: 10px 0 0 10px;
}

.inputField .mat-form-field-outline-end {
  border-radius: 0 10px 10px 0;
}