<div id="wrapper">
  <div class="pokemonList" *ngFor="let post of posts">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/{{getImageName(post.pokemonID, post.name)}}" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">{{padZeroes(post.pokemonID)}}</span>
    <hr>
    <span class="pokemonName">{{post.name}}</span><br>
    <div class="pokemonType">
      <div class="{{type}}" *ngFor="let type of post.pokemonType">
        <span>{{type}}</span>
      </div>
    </div>
  </div>
</div>