.pokemonList {
    width: 200px;
    height: 300px;
    text-align: left;
    border-style: double;
    border-radius: 21px;
    margin-left: 20px;
    margin-top: 60px;
    background: linear-gradient(to top left, rgb(39, 65, 91) 0%, transparent 50%), linear-gradient(to top right, rgb(10, 20, 30) 0%, transparent 50%);

}

.imageContainer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.pokemonImage {
    vertical-align: middle;
}

.imageCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pokemonNumber {
    font-size: 15px;
    text-align: left;
}

.pokemonName {
    font-size: 24px;
    line-height: 45px;
    text-align: center;
}

.pokemonType {
    padding-top: 30px;
    display: flex;
    justify-content:space-around;
}

hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.Normal {
    background-color: rgb(168, 168, 120);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Fighting {
    background-color: rgb(192, 48, 40);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Flying {
    background-color: rgb(168, 144, 240);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Poison {
    background-color: rgb(160, 64, 160);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Ground {
    background-color: rgb(224, 192, 104);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Rock {
    background-color: rgb(184, 160, 56);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Bug {
    background-color: rgb(168, 184, 32);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Gost {
    background-color: rgb(112, 88, 152);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Steel {
    background-color: rgb(184, 184, 208);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Fire {
    background-color: rgb(240, 128, 48);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Water {
    background-color: rgb(104, 144, 240);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Grass {
    background-color: rgb(120, 200, 80);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Electric {
    background-color: rgb(248, 208, 48);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Psychic {
    background-color: rgb(248, 88, 136);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Ice {
    background-color: rgb(152, 216, 216);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Dragon {
    background-color: rgb(112, 56, 248);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Dark {
    background-color: rgb(112, 88, 72);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Fairy {
    background-color: rgb(238, 153, 172);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}



  
  
  