<div id="wrapper">
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/001_bulbasaur.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0001</span>
    <hr>
    <span class="pokemonName">Bulbasaur</span><br>
    <div class="pokemonType">
      <div class="Grass">
        <span>Grass</span>
      </div>
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>

  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/003_venusaur.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0003</span>
    <hr>
    <span class="pokemonName">Bulbasaur</span><br>
    <div class="pokemonType">
      <div class="Grass">
        <span>Grass</span>
      </div>
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>

  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/002_ivysaur.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0002</span>
    <hr>
    <span class="pokemonName">Ivysaur</span><br>
    <div class="pokemonType">
      <div class="Grass">
        <span>Grass</span>
      </div>
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/003_venusaur.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0003</span>
    <hr>
    <span class="pokemonName">Venusaur</span><br>
    <div class="pokemonType">
      <div class="Grass">
        <span>Grass</span>
      </div>
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/004_charmander.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0004</span>
    <hr>
    <span class="pokemonName">Charmander</span><br>
    <div class="pokemonType">
      <div class="Fire">
        <span>Fire</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/005_charmeleon.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0005</span>
    <hr>
    <span class="pokemonName">Charmeleon</span><br>
    <div class="pokemonType">
      <div class="Fire">
        <span>Fire</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/006_charizard.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0006</span>
    <hr>
    <span class="pokemonName">Charizard</span><br>
    <div class="pokemonType">
      <div class="Fire">
        <span>Fire</span>
      </div>
      <div class="Flying">
        <span>Flying</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/007_squirtle.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0007</span>
    <hr>
    <span class="pokemonName">Squirtle</span><br>
    <div class="pokemonType">
      <div class="Water">
        <span>Water</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/008_wartortle.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0008</span>
    <hr>
    <span class="pokemonName">Wartortle</span><br>
    <div class="pokemonType">
      <div class="Water">
        <span>Water</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/009_blastoise.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0009</span>
    <hr>
    <span class="pokemonName">Blastoise</span><br>
    <div class="pokemonType">
      <div class="Water">
        <span>Water</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/010_caterpie.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0010</span>
    <hr>
    <span class="pokemonName">Caterpie</span><br>
    <div class="pokemonType">
      <div class="Bug">
        <span>Bug</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/011_metapod.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0011</span>
    <hr>
    <span class="pokemonName">Metapod</span><br>
    <div class="pokemonType">
      <div class="Bug">
        <span>Bug</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/012_butterfree.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0012</span>
    <hr>
    <span class="pokemonName">Butterfree</span><br>
    <div class="pokemonType">
      <div class="Bug">
        <span>Bug</span>
      </div>
      <div class="Flying">
        <span>Flying</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/013_weedle.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0013</span>
    <hr>
    <span class="pokemonName">Weedle</span><br>
    <div class="pokemonType">
      <div class="Bug">
        <span>Bug</span>
      </div>
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/014_kakuna.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0014</span>
    <hr>
    <span class="pokemonName">Kakuna</span><br>
    <div class="pokemonType">
      <div class="Bug">
        <span>Bug</span>
      </div>
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/015_beedrill.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0015</span>
    <hr>
    <span class="pokemonName">Beedrill</span><br>
    <div class="pokemonType">
      <div class="Bug">
        <span>Bug</span>
      </div>
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/016_pidgey.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0016</span>
    <hr>
    <span class="pokemonName">Pidgey</span><br>
    <div class="pokemonType">
      <div class="Normal">
        <span>Normal</span>
      </div>
      <div class="Flying">
        <span>Flying</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/017_pidgeotto.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0017</span>
    <hr>
    <span class="pokemonName">Pidgeotto</span><br>
    <div class="pokemonType">
      <div class="Normal">
        <span>Normal</span>
      </div>
      <div class="Flying">
        <span>Flying</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/018_pidgeot.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0018</span>
    <hr>
    <span class="pokemonName">Pidgeot</span><br>
    <div class="pokemonType">
      <div class="Normal">
        <span>Normal</span>
      </div>
      <div class="Flying">
        <span>Flying</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/019_rattata.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0019</span>
    <hr>
    <span class="pokemonName">Rattata</span><br>
    <div class="pokemonType">
      <div class="Normal">
        <span>Normal</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/020_raticate.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0020</span>
    <hr>
    <span class="pokemonName">Raticate</span><br>
    <div class="pokemonType">
      <div class="Normal">
        <span>Normal</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/021_spearow.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0021</span>
    <hr>
    <span class="pokemonName">Spearow</span><br>
    <div class="pokemonType">
      <div class="Normal">
        <span>Normal</span>
      </div>
      <div class="Flying">
        <span>Flying</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/022_fearow.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0022</span>
    <hr>
    <span class="pokemonName">Fearow</span><br>
    <div class="pokemonType">
      <div class="Normal">
        <span>Normal</span>
      </div>
      <div class="Flying">
        <span>Flying</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/023_ekans.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0023</span>
    <hr>
    <span class="pokemonName">Ekans</span><br>
    <div class="pokemonType">
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/024_arbok.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0024</span>
    <hr>
    <span class="pokemonName">Arbok</span><br>
    <div class="pokemonType">
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/025_pikachu.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0025</span>
    <hr>
    <span class="pokemonName">Pikachu</span><br>
    <div class="pokemonType">
      <div class="Electric">
        <span>Electric</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/026_raichu.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0026</span>
    <hr>
    <span class="pokemonName">Raichu</span><br>
    <div class="pokemonType">
      <div class="Electric">
        <span>Electric</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/027_sandshrew.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0027</span>
    <hr>
    <span class="pokemonName">Sandshrew</span><br>
    <div class="pokemonType">
      <div class="Ground">
        <span>Ground</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/028_sandslash.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0028</span>
    <hr>
    <span class="pokemonName">Sandslash</span><br>
    <div class="pokemonType">
      <div class="Ground">
        <span>Ground</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/029_nidoran_f.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0029</span>
    <hr>
    <span class="pokemonName">Nidoran F</span><br>
    <div class="pokemonType">
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/030_nidorina.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0030</span>
    <hr>
    <span class="pokemonName">Nidorina</span><br>
    <div class="pokemonType">
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/031_nidoqueen.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0031</span>
    <hr>
    <span class="pokemonName">Nidoqueen</span><br>
    <div class="pokemonType">
      <div class="Poison">
        <span>Poison</span>
      </div>
      <div class="Normal">
        <span>Normal</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/032_nidoran_m.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0032</span>
    <hr>
    <span class="pokemonName">Nidoran M</span><br>
    <div class="pokemonType">
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/033_nidorino.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0033</span>
    <hr>
    <span class="pokemonName">Nidorino</span><br>
    <div class="pokemonType">
      <div class="Poison">
        <span>Poison</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/034_nidoking.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0034</span>
    <hr>
    <span class="pokemonName">Nidoking</span><br>
    <div class="pokemonType">
      <div class="Poison">
        <span>Poison</span>
      </div>
      <div class="Ground">
        <span>Ground</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/035_clefairy.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0035</span>
    <hr>
    <span class="pokemonName">Clefairy</span><br>
    <div class="pokemonType">
      <div class="Fairy">
        <span>Fairy</span>
      </div>
    </div>
  </div>
  <div class="pokemonList">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/036_clefable.gif" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">0036</span>
    <hr>
    <span class="pokemonName">Clefable</span><br>
    <div class="pokemonType">
      <div class="Fairy">
        <span>Fairy</span>
      </div>
    </div>
  </div>
</div>