<!--
<div id="wrapper">
  <div class="pokemonList" *ngFor="let post of posts">
    <div class="imageContainer">
      <div class="imageCenter">
        <img src="../../assets/Gif/{{getImageName(post.pokemonID, post.name)}}" class="pokemonImage"><br>
      </div>
    </div>
    <br>
    <span class="pokemonNumber">{{padZeroes(post.pokemonID)}}</span>
    <hr>
    <span class="pokemonName">{{post.name}}</span><br>
    <div class="pokemonType">
      <div class="{{type}}" *ngFor="let type of post.pokemonType">
        <span>{{type}}</span>
      </div>
    </div>
  </div>
</div>
-->
<div class="searchbar">
  <h1>Advanced Search</h1>
</div>
<div class="searchtype">
  <h3>Type</h3>
</div>
<div class="typeoption">
  <ul class="typelist">
    <div class="columnwrapper">
      <li class="eachtype" [style.opacity]="type.isSelect ? 1 : 0.5" (click)="selectType(type)"
        *ngFor="let type of pokemonType">
        <div class="{{type.name}}">
          <span>{{type.name}}</span>
        </div>
        <img class="typeimg" src="{{type.image}}">
      </li>
    </div>
  </ul>
</div>
<div class="searchnumber">
  <h3>Number Range</h3>

  <div class="sarchnumber">
    <input type="text" id="minrange" [(ngModel)]="minRange">
    <span class="numberrange">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
    <input type="text" id="maxrange" [(ngModel)]="maxRange">
  </div>
  <div class="searchBtn">
    <button (click)="displaySelectedType()">Search</button>
    <button (click)="displayNumberRange()">Reset</button>
    <button>123</button>
  </div>
</div>

<div id="wrapper">
  <div class="pokemonCard-img" *ngFor="let post of visiblePosts"
    [style.background-image]="'url(../../assets/PokeCard/' + post.pokemonType[0] + '.png)'">
    <div class="pokemonID-img">
      <h5>{{formatPokeminID(post.pokemonID)}}</h5>
    </div>
    <div class="logo">
      <div class="img">
        <img src="../../assets/Gif/{{getImageName(post.pokemonID, post.name)}}">
      </div>
      <div class="name">
        {{post.name}}
      </div>
    </div>
    <div class="typeWrapper" *ngFor="let type of post.pokemonType">
      <div class="type">
        <div class="{{type}}Square"></div>
        <h6>{{type}}</h6>
      </div>
    </div>
  </div>
</div>
<div class="loadMoreButton">
  <button mat-icon-button color="warn" (click)="loadMorePokemons()" class="loadBtn">
    <div class="loadtext">
      <h1>Load More</h1>
    </div>
    <div class="loadicon">
      <mat-icon>expand_more</mat-icon>
    </div>
  </button>
</div>