#wrapper {
    background-image: url(../../assets/Image/main-background.jpeg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.pokemonCard-img{
    //background-image: url('../../assets/PokeCard/electric.png');
    background-repeat: repeat;
    background-size: cover;
    width: 251px;
    height: 335px;
    display: inline-block;
    //margin: 50px;
    z-index: 9;
}

.pokemonID-img {
    height: 20px;
}

.pokemonID-img h5 {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    padding-top: 3px;
    padding-right: 25px;
    padding-bottom: 9px;
    margin-top: 30px;
    position: relative;
    top: -5px;
    right: 21px;
    color: #ffffff;
}

.logo {
    position: relative;
    top: 80px;
    width: 125px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
}

.img{
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: transparent;
}

.img img {
    //width: 150px;
    scale: 100%;
    padding-bottom: 60px;
}

.name{
    position: relative;
    margin-top: 0px;
    height: 50px;
    font-size: 21px;
    font-weight: 800;
    text-align: left;
    left: -10px;
    top: -42px;
}

.typeWrapper {
    position: relative;
    top: 50px;
    left: 10px;
}

.type {
    height: 0px;
}

h6{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    top:-60px;
    left: 81px;
    color: #ffffff;
    z-index: 100;
}

/*
filter section
*/

.Normal {
    background-color: rgb(170, 176, 159);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Fighting {
    background-color: rgb(203, 95, 72);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Flying {
    background-color: rgb(125, 166, 222);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Poison {
    background-color: rgb(180, 104, 183);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Ground {
    background-color: rgb(204, 159, 79);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Rock {
    background-color: rgb(178, 160, 97);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Bug {
    background-color: rgb(148, 188, 74);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Ghost {
    background-color: rgb(132, 106, 182);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Steel {
    background-color: rgb(137, 161, 176);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Fire {
    background-color: rgb(234, 122, 60);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Water {
    background-color: rgb(83, 154, 226);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Grass {
    background-color: rgb(113, 197, 88);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Electric {
    background-color: rgb(229, 197, 49);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Psychic {
    background-color: rgb(229, 112, 155);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Ice {
    background-color: rgb(112, 203, 212);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Dragon {
    background-color: rgb(106, 123, 175);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Dark {
    background-color: rgb(115, 108, 117);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

.Fairy {
    background-color: rgb(227, 151, 209);
    border-radius: 10px;
    width: 90px;
    text-align: center;
}

/*
Search function
*/

#searchexpand:hover {
    color: red;
}

.searchtype, .searchnumber, .searchbar {
    text-align: center;
}

.typeimg {
    width: 20px;
    height: 20px;
    position: relative;
    top: -22px;
    left: 93px;
}

.typeoption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columnwrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 33.33%;
    
}

.eachtype {
    opacity: 0.5;
    flex-basis: calc(33.33% - 20px);
    list-style: none;
    box-sizing: border-box;
    width: 30px;
}

.eachtype:hover {
    cursor: pointer;
}

.sarchnumber {
    margin-bottom: 20px;
}

.numberrange {
    font-size: 30px;
}

#minrange, #maxrange {
    width: 60px;
    height: 30px;
}

.expandLogo {
    text-align: center;
}

.searchBtn {
    background-color: rgb(1, 0, 66);
    color: #FFFFFF;
    margin-right: 60px;
}

.resetBtn {
    border-style: solid;
    border-color: rgb(1, 0, 66);
}

/*
Load more button
*/

.loadMoreButton {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.loadBtn {
    font-size: 10px;
    width: 30px;
}

.loadBtn h1 {
    font-size: 20px;
}

.loadtext {
    width: 100px;
    text-align: center;
    color: rgb(153, 153, 153);
}

.loadicon {
    width: 100px;
    text-align: center;
    position: relative;
    top: -20px;
    color: rgb(153, 153, 153);
}

.loadBtn:hover {
    .loadicon {
        color: rgb(0, 0, 0);
    }

    .loadtext {
        color: rgb(0, 0, 0);
    }
}

/*
pokemon type square box
*/

.BugSquare {
    background-color: rgb(148, 188, 74);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.DarkSquare {
    background-color: rgb(115, 108, 117);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.DragonSquare {
    background-color: rgb(106, 123, 175);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.ElectricSquare {
    background-color: rgb(229, 197, 49);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.FairySquare {
    background-color: rgb(227, 151, 209);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.FightingSquare {
    background-color: rgb(203, 95, 72);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.FireSquare {
    background-color: rgb(234, 122, 60);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.FlyingSquare {
    background-color: rgb(125, 166, 222);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.GhostSquare {
    background-color: rgb(132, 106, 182);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.GrassSquare {
    background-color: rgb(113, 197, 88);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.GroundSquare {
    background-color: rgb(204, 159, 79);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.IceSquare {
    background-color: rgb(112, 203, 212);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.NormalSquare {
    background-color: rgb(170, 176, 159);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.PoisonSquare {
    background-color: rgb(180, 104, 183);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.PsychicSquare {
    background-color: rgb(229, 112, 155);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.RockSquare {
    background-color: rgb(178, 160, 97);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.SteelSquare {
    background-color: rgb(137, 161, 176);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}

.WaterSquare {
    background-color: rgb(83, 154, 224);
    width: 21px;
    height: 21px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 41px;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 3px;
}
  
  