/*
.pokemonList {
    width: 200px;
    height: 300px;
    text-align: left;
    border-style: double;
    border-radius: 21px;
    margin-left: 20px;
    margin-top: 60px;
    background: linear-gradient(to top left, rgb(39, 65, 91) 0%, transparent 50%), linear-gradient(to top right, rgb(10, 20, 30) 0%, transparent 50%);

}

.imageContainer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.pokemonImage {
    vertical-align: middle;
}

.imageCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pokemonNumber {
    font-size: 15px;
    text-align: left;
}

.pokemonName {
    font-size: 24px;
    line-height: 45px;
    text-align: center;
}

.pokemonType {
    padding-top: 30px;
    display: flex;
    justify-content:space-around;
}

hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.Normal {
    background-color: rgb(168, 168, 120);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Fighting {
    background-color: rgb(192, 48, 40);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Flying {
    background-color: rgb(168, 144, 240);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Poison {
    background-color: rgb(160, 64, 160);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Ground {
    background-color: rgb(224, 192, 104);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Rock {
    background-color: rgb(184, 160, 56);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Bug {
    background-color: rgb(168, 184, 32);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Gost {
    background-color: rgb(112, 88, 152);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Steel {
    background-color: rgb(184, 184, 208);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Fire {
    background-color: rgb(240, 128, 48);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Water {
    background-color: rgb(104, 144, 240);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Grass {
    background-color: rgb(120, 200, 80);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Electric {
    background-color: rgb(248, 208, 48);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Psychic {
    background-color: rgb(248, 88, 136);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Ice {
    background-color: rgb(152, 216, 216);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Dragon {
    background-color: rgb(112, 56, 248);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Dark {
    background-color: rgb(112, 88, 72);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.Fairy {
    background-color: rgb(238, 153, 172);
    border-radius: 10px;
    width: 60px;
    text-align: center;
}
*/

#wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 120%;
}

.pokemonCard-img{
    //background-image: url('../../assets/PokeCard/electric.png');
    background-repeat: repeat;
    background-size: cover;
    width: 502px;
    height: 670px;
    display: inline-block;
    //margin: 50px;
    z-index: 9;
}

.pokemonID-img {
    height: 20px;
}

.pokemonID-img h5 {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    padding-top: 3px;
    padding-right: 25px;
    padding-bottom: 9px;
    margin-top: 30px;
    position: relative;
    top: 30px;
    right: 75px;
    color: #ffffff;
}

.logo {
    position: relative;
    top: 100px;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.img{
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img img {
    //width: 150px;
    scale: 200%;
    padding-bottom: 60px;
}

.name{
    position: relative;
    margin-top: 35px;
    height: 50px;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    left: -15px;
}

.typeWrapper {
    position: relative;
    top: 150px;
    left: 80px;
}

.type {
    height: 0px;
}

h6{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    top:-65px;
    left: 110px;
    color: #ffffff;
    z-index: 100;
}

/*
pokemon type square box
*/

.BugSquare {
    background-color: rgb(148, 188, 74);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.DarkSquare {
    background-color: rgb(115, 108, 117);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.DragonSquare {
    background-color: rgb(106, 123, 175);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.ElectricSquare {
    background-color: rgb(229, 197, 49);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.FairySquare {
    background-color: rgb(227, 151, 209);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.FightingSquare {
    background-color: rgb(203, 95, 72);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.FireSquare {
    background-color: rgb(234, 122, 60);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.FlyingSquare {
    background-color: rgb(125, 166, 222);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.GhostSquare {
    background-color: rgb(132, 106, 182);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.GrassSquare {
    background-color: rgb(113, 197, 88);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.GroundSquare {
    background-color: rgb(204, 159, 79);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.IceSquare {
    background-color: rgb(112, 203, 212);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.NormalSquare {
    background-color: rgb(170, 176, 159);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.PoisonSquare {
    background-color: rgb(180, 104, 183);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.PsychicSquare {
    background-color: rgb(229, 112, 155);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.RockSquare {
    background-color: rgb(178, 160, 97);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.SteelSquare {
    background-color: rgb(137, 161, 176);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}

.WaterSquare {
    background-color: rgb(83, 154, 2264);
    width: 36px;
    height: 36px;
    position: relative;
    top:-40px;
    left: 45px;
    margin-top: 60px;
    box-shadow: 5px 5px #FFFFFF;
    border-radius: 3px;
}
  
  
  