<!DOCTYPE html>
<html lang="en">

<head>
  <!--
            COMP 229 (SEC. 007)
            Project (Group 3)

            Date: July 17, 2023
     
            Filename: admin.component.html
        -->
</head>

<body>
  <div class="header">
    <header>
      <h1>Pokemon Records</h1>
      <button mat-icon-button color="warn" (click)="loadPosts()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="clearAllPosts()">
        <mat-icon>clear_all</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="sortByPokemonID()">
        <mat-icon>sort</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="add()" class="addPokemon">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </header>
  </div>


  <div class="pokemon-container">
    <table mat-table class="upperSection">
      <thead class="header">
        <tr>
          <!-- Pokemon ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell mat-sort-header> ID </th>
            <td mat-cell> </td>
          </ng-container>

          <ng-container matColumnDef="DB_id">
            <th mat-header-cell mat-sort-header id="_id"> DBID </th>
          </ng-container>

          <!-- Pokemon Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header> Name </th>
            <td mat-cell></td>
          </ng-container>

          <!-- Pokemon Property Column -->
          <ng-container matColumnDef="property">
            <th mat-header-cell mat-sort-header> Property </th>
            <td mat-cell> </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell mat-sort-header> Action </th>

          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts" class="allPokemon">
          <td>{{post.pokemonID}}</td>
          <td></td>
          <td id="_id">{{post._id}}</td>
          <td>{{post.name}}</td>
          <td><img src="../../assets/Gif/{{getImageName(post.pokemonID, post.name)}}" alt="{{post.name}}"></td>
          <td class="pkemonTypeContainer_">
            <div *ngFor="let type of post.pokemonType">
              <img src="../../assets/pokemonType/{{getpokemonTypePng(type)}}" class="pokemonTypeImg"><br>
            </div>
            
          </td>
          <td></td>
          <div class="actionBtn">
            <button mat-icon-button color="primary" (click)="edit({post})">
              <mat-icon>edit</mat-icon>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-icon-button color="warn" (click)="delete({post})">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </tr>
      </tbody>

    </table>
  </div>


</body>

</html>