/*
.register-container {
    background-image: url('../../assets/Image/reg-background.jpg');
    //background-repeat: no-repeat;
    //background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .my-dialog {
    background-image: url('../../assets/Image/reg-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  */

  mat-card {
    width: 400px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .actions {
    text-align: right;
  }
  